<!DOCTYPE html>
<html>
  <head>
    <title><%= title %>운영팀 웹 어드민 시스템</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %> 운영팀 2 이 변경은 충돌 상황을 위한 변경 1</h1>
    <p>Welcome to <%= title %> 운영팀 3</p>
  </body>

  <footer>
    <p>연락처 : 1111-1234</p>
  </footer>
</html>
